/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.dockerignore
/.fly/scripts/caches.sh
/Dockerfile
/.fly/entrypoint.sh
/fly.toml
/.fly/nginx-default
/.fly/nginx-default-swoole
/.fly/nginx-websockets.conf
/.fly/octane-rr/run
/.fly/octane-swoole/run
.vercel
