
body {
    background: pink;
}

#container_menu {
    background-color: #B5D6BE;
}

#container {
    background-color: beige;
}

#logo {
    background-color: white;
}

h5 {
    color: #5a1d3e;
}

#btnIngresar {
    background-color: pink;
    color: #5a1d3e;
    border: none;
    transition-duration: 0.1s;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.1);
}

#btnRegistrarse {
    background: pink;
    border: none;
    transition-duration: 0.1s;
    color: #5a1d3e;
}

#btnIngresar:hover {
    background-color: #B05661;
    color: white;
}

#btnRegistrarse:hover {
    background-color: #B05661;
    color: white;
}

img{
    background: transparent;
}
