#imagen {
    background-image: url(../img_turno.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imagen2 {
    background-image: url(../img_turno2.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
