
body {
    background: #f9efe2;
}

#containerR {
    background-color: #fae5c0;
    height: 100px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf9f4;
}

h5 {
    color: #5a1d3e;
}

#btnIngresar {
    background-color: #eb7381;
    border: none;
    transition-duration: 0.1s;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.1);
}

#btnRegistrarse {
    background: #eb7381;
    border: none;
    transition-duration: 0.1s;
}

#btnIngresar:hover {
    background-color: #B05661;
    color: white;
}

#btnRegistrarse:hover {
    background-color: #B05661;
    color: white;
}
