body {
    background: pink;
}

#container {
    background-color: beige;
    position: absolute;
    top: 22%;
    left: 17%;
}

#logo {
    background-color: white;
}

#logoImg{
    position: relative;
    left: 26.5%;
    top: 21%;
}

h5 {
    color: #5a1d3e;
}

#btnIngresar {
    background-color: pink;
    border: none;
    transition-duration: 0.1s;
    color: #5a1d3e;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.1);
}

#btnRegistrarse {
    background: pink;
    border: none;
    color: #5a1d3e;
    transition-duration: 0.1s;
}

#btnIngresar:hover {
    background-color: #B05661;
    color: white;
}

#btnRegistrarse:hover {
    background-color: #B05661;
    color: white;
}

img{
    background: transparent;
}
